[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
redis = "*"
aioredis = "*"
openai = "*"
requests = "*"
httpx = "*"
langchain-groq = "*"
tiktoken = "*"
langchain = "*"
langgraph = "*"
beautifulsoup4 = "*"
langchain-community = "*"
nest-asyncio = "*"
transformers = "*"
aiohttp = "*"
xmltodict = "*"
asyncio = "*"
pyspark = "*"
pymupdf4llm = "*"
unstructured = "*"
markdown = "*"
pymupdf = "*"
langchain-openai = "*"

[dev-packages]

[requires]
python_version = "3.10"
